/*Contains the webpage within an 80% width of the screen*/


body {
	
	font-size: 18px;
	font-family: cursive;
	margin: 0;
	padding: 0;
}

#Homepage_pic {  
	background: url("../graphics/main.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutus_img {
height: 400px;
display: block;
margin-left: auto;
margin-right: auto;
}

#jae_design-by {
float: right;
display:inline;
}

.aboutus_Headings {
text-align: center;
}

/*Header formatting*/
header {
	display: block;
	width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer_absolute {
	display: block;
	width: 100%;
	float: left;
	position: absolute;
	bottom:0;
}

.footer_relative {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	bottom:0;
}

#aboutus_content {
display: block;
width: 80%;
margin: 0;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
text-align: center;
}


nav {
	display: inline-block;
	width: 100%;
	margin-right: 10px;
	background-color: rgba(15, 13, 6, 0.5);
}

header nav ul {
display: inline;
width: 80%;
float: right;
margin: 0;
margin-top: 45px;

}


a:hover{

	background-color: #444;
	

}

/*navigation menu*/

nav li {
	list-style-position: inside;
	display: inline;
	padding: 0em;
}

nav ul li a {

	margin-left: 10%;
	font-size: 25px;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
	}

/*nav menu link highlighter*/
nav ul li a:hover {
	color: rgb(167,85,69);
    }
	

header img {
	height: 150px;
}


header a {
display: inline-block;
width: 15%;
margin: 0;
margin-left: auto;
margin-right: auto;
font-size: 25px;
font-size: 25px;
font-family: museo-300;
line-height: 20px;
text-align: center;
text-decoration: none;
color: black;
}

#register {
display: block;
float: left;
text-align: center;
width: 20%;
margin-top: 100px;
margin-left: 10%;

}


.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 5px solid black;
  padding: 10px 30px;
  color: white;
  background-color: black;
}
