/*Contains the webpage within an 80% width of the screen*/


body {
	
	font-size: 18px;
	font-family: cursive;
	margin: 0;
	padding: 0;
}

#Homepage_pic {  
	background: url("../graphics/main.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutus_img {
height: 400px;
display: block;
margin-left: auto;
margin-right: auto;
}

#jae_design-by {
float: right;
display:inline;
}

.aboutus_Headings, h1 {
text-align: center;
}

/*Header formatting*/
header {
	display: block;
	width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.footer_absolute {
	display: block;
	width: 100%;
	float: left;
	position: absolute;
	bottom:0;
}

.footer_relative {
	display: block;
	width: 100%;
	float: left;
	position: relative;
	bottom:0;
}

#aboutus_content {
display: block;
width: 80%;
margin: 0;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
text-align: center;
}


nav {
	display: inline-block;
	width: 100%;
	margin-right: 10px;
	background-color: rgba(15, 13, 6, 0.5);
}

header nav ul {
display: inline;
width: 80%;
float: right;
margin: 0;
margin-top: 45px;

}


a:hover{

	background-color: #444;
	

}

/*navigation menu*/

nav li {
	list-style-position: inside;
	display: inline;
	padding: 0em;
	color: white;
	font-family: cursive;
	font-weight: bold;
}

nav ul li a {
	margin-left: 8%;
	font-size: 25px;
	font-family: cursive;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: white;
	}

/*nav menu link highlighter*/
nav ul li a:hover {
	color: rgb(167,85,69);
    }
	

header img {
	height: 150px;
}


header a {
display: inline-block;
width: 15%;
margin: 0;
margin-left: auto;
margin-right: auto;
font-size: 25px;
font-size: 25px;
font-family: museo-300;
line-height: 20px;
text-align: center;
text-decoration: none;
color: black;
}

#register, #register_success  {
display: block;
float: left;
text-align: center;
width: 20%;
margin-top: 100px;
margin-left: 10%;

}


#sign_in_info {
float: right;
}


input.btn.btn-alt {
	margin-left: 35%;
}



.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt {
  border: 5px solid black;
  padding: 10px 30px;
  color: white;
  background-color: black;
}

#media_main_wrapper {
    width: 800px;
}

#media_main_body {
    height: 100%;
}

#media_main_gMenu {
    width: 200px;
    float: center;
    margin-left: -16px;
    margin-right: 10px;
	display:table;
	margin-left:auto;
	margin-right:auto;
}

#media_main_gMenu ul {
    width: 100%;
    height: 100%;
}

#media_main_gMenu ul li {
    list-style: none;
    margin-top: 5px;
    padding-top: 5px;
    height: 20px;
    text-align: center;
    border: 1px solid black;
}

#media_main_gMenu ul a {
    text-decoration: none;
    color: gray;
}

#media_main_gMenu ul li:hover {
    background-color: black;
}

#media_main_media {
    width: 535px;
    border: solid 2px black;
    float: right;
    margin: 10px;
    font-size: 12px;
}

#media_main_media h2 {
    margin: 15px;
    border-left: 3px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
}

#media_main_media p {
    margin: 15px;
    padding: 5px;
    border: dashed 1px gray;
}

#media_main_media p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#media_main_media p a:hover {
    color: gray;
}

#regform, #loginform{
display: block;
width: 40%;
margin-top: 5%;
margin-left: 35%;
margin-right: auto;
background-color: rgba(15, 13, 6, 0.5);
border-radius: 22px;
padding: 30px;
}

 label {
	 margin-left: 10px;
	 color: white;
 }
 
 span {
 font-size: 12px;
 }
 

.top_bar{
	height: 20%;
	width: 100%;
	padding-top: 5px;
}

.search_container{
	width: 61%;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.search{
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px;
	width: 40%;
	-webkit-transition: all.5s ease;
	-moz-transition: all.5s ease;
	transition: all.5s ease;
	float: right;
}

.search:focus{
	width: 200px;
}

.media_divider
{
border-bottom: solid 1px #F6F3F1;
}

.media_content
{
position: relative;
padding-left: 22px;
}

td.media_first,th.media_first
{
border-left: 0px;
}

tr.media_rowA
{
background: #FFF0DE url('images/trbg1.gif') repeat-x;
}

tr.media_rowB
{
background: #FFFAF4 url('images/trbg2.gif') repeat-x;
}

.media_date
{
font-family: georgia, "times new roman", serif;
font-size: 20px;
}

label{
text-align: right;

float: left;
}



fieldset p {
clear: both;
padding: 5px;
}



